@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

:root {
    --text-shadow: 0px 1px 3px #bbb, 0px 2px 2px #aaa, 0px 3px 1px #999, 0px 4px 0px #888, 0px 5px 0px #777, 0px 6px 0px #666, 0px 7px 0px #555, 0px 9px 5px #444, 0px 10px 20px #555;
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Open Sans', sans-serif;
    /* blue, green, red, black */
}

body {
    background: black;
}

h1 {
    font-size: 2.5em;
    letter-spacing: 2vw;
    line-height: 1.5em;
    text-shadow: var(--text-shadow);
}
h1, h2, h3 {
    text-align: center;
    font-family: var(--primary-font-family);
    color: #c1c1c1;
}

.grid {
    display: flex; 
    margin: 2em 5vw 2em 5vw;
}

.stats {
    font-size: 2em;
    font-family: var(--secondary-font-family);
    text-align: center;
}


main {
    margin: 1em 1em;
    height: 50vh;
    width: 95vw;
}




.ct-label {
    font-family: var(--secondary-font-family) !important;
    font-weight: bold;
    font-size: 0.8em;
}

main .ct-grid {
    stroke: rgba(200, 200, 200, 0.9) ;
    stroke-width: 1px ;
    stroke-dasharray: 2px ; 
}
  
main .ct-label {
    fill: rgba(200, 200, 200, 0.9) ;
    color: rgba(200, 200, 200, 0.9) ;
    font-size: 0.75rem;
    line-height: 1; 
}

main .ct-series-a .ct-line {
    stroke: rgba(10,100,250,0.9);
    stroke-width: 5px;
}

main .ct-series-a .ct-point {
    stroke: rgba(0,150,250,0.9);;
    stroke-width: 10px;
}


main .ct-series-a .ct-area {
    fill: rgba(0,150,250,0.9);
    fill-opacity: 0.2;
}

.alert {
    color: red;
    text-shadow: 0 0 20px red;
}

.success {
    color: green;
    text-shadow: 0 0 20px green;
}

.warning {
    color: gold;
    text-shadow: 0 0 20px gold;
}

.alert-box {
    box-shadow: 0 0 20px 2px red;
}
.success-box {
    box-shadow: 0 0 20px 2px green;
}
.warning-box {
    box-shadow: 0 0 20px 2px gold;
}
.bar {
    height: 2vh;
}
.alert-bar-empty {
    background: rgba(255, 0, 0, 0.4);
}

.alert-bar-filled {
    background: rgba(255, 0, 0, 0.85);
}

.success-bar-empty {
    background: rgba(0, 128, 0, 0.4);
}

.success-bar-filled {
    background: rgba(0, 128, 0, 0.85);
}

.warning-bar-empty {
    background: rgba(255, 215, 0, 0.4);
}

.warning-bar-filled {
    background: rgba(255, 215, 0, 0.85);
}
